@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ms-gray text-ms-text font-segoe antialiased dark:bg-black dark:text-white transition-colors duration-200;
  }
}